<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>VUE JS</title>
</head>
<body>

    <div id="contenedor">
        <h1>
            Welcome {{user}}
        </h1>

        <button @click="showFormAdd">
            Add user
        </button>

        <table id="user-table" v-if="exp == false">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>website</td>
                    <td>Actions</td>
                </tr>

            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>{{u.id}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.website}}</td>
                    <td>
                        <button @click="showFormEdit(u)">
                            Edit
                        </button>
                        
                        <button @click="removeUser(u)">
                            Remove
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>


        <div id="user-form" v-if="exp == true">
            <form action="">
    
                <fieldset>
                    <legend>User Data</legend>
    
                    <label for="">Nombre</label>
                    <input type="text" v-model="name">
                    <br>
                    <label for="">Username</label>
                    <input type="text" v-model="username">    
                    <br>
                    <label for="">Email</label>
                    <input type="email" v-model="email">
                    <br>
                    <label for="">Password</label>
                    <input type="text" v-model="password">
                    <br>
                    <label for="">Phone</label>
                    <input type="text" v-model="phone">
                    <br>
                    <label for="">Website</label>
                    <input type="text" v-model="website">
                    <br>

                    <button @click="saveForm">
                        Save
                    </button>

                    <button @click="cancelForm">
                        Cancel
                    </button>
    
    
                </fieldset>
    
    
            </form>
        </div>

        

    </div>




    <script src="https://unpkg.com/vue@3"></script>




   <script>
        const { createApp } = Vue


        const app = createApp({
            data(){
                return{
                    user: '',
                    users: null,
                    exp: false,
                    act: '',
                    pos: '',
                    idNew: 10,
                    id: '',
                    name: '',
                    username: '',
                    email: '',
                    password: '',
                    phone: '',
                    website: ''
                }
            },
            methods:{
                showFormAdd(){
                    this.act = 'add';
                    console.log(this.act);

                    this.exp ? this.exp = false : this.exp = true;

                    this.name = '';
                    this.username = '';
                    this.email = '';
                    this.password = '';
                    this.phone = '';
                    this.website = '';

                },
                showFormEdit(u){
                    this.act = 'edit';
                    console.log(this.act);

                    this.exp ? this.exp = false : this.exp = true;
                    
                    this.id = u.id;
                    this.name = u.name;
                    this.username = u.username;
                    this.email = u.email;
                    this.password = u.password;
                    this.phone = u.phone;
                    this.website = u.website;

                    this.pos = this.users.findIndex(element => element.id === u.id);
            
                },
                saveForm(e){

                    if(this.act == 'add')
                    {
                        
                        if(this.name == '' || this.username == '' || this.email == '' || this.password == '' || this.phone == '' || this.website == '' ){
                            alert("Empty fields");

                        } else{
                            var tmp_id = this.idNew;
                            parseInt(tmp_id);
                            tmp_id++;
                            this.idNew = tmp_id;

                            var tmp_user = {
                                id: this.idNew,
                                name: this.name,
                                username: this.username,
                                email: this.email,
                                password: this.password,
                                phone: this.phone,
                                website: this.website
                            }

                            console.log(tmp_user);
                            this.users.push(tmp_user);

                            this.exp ? this.exp = false : this.exp = true;

                        }


                    } else if(this.act == 'edit')
                    {
                        
                        if(this.name == '' || this.username == '' || this.email == '' || this.password == '' || this.phone == '' || this.website == '' ){
                            alert("Empty fields");

                        }else{

                            var tmp_user = {
                                id: this.id,
                                name: this.name,
                                username: this.username,
                                email: this.email,
                                password: this.password,
                                phone: this.phone,
                                website: this.website
                            }
                            console.log(tmp_user);
                            this.users[this.pos] = tmp_user;

                            this.exp ? this.exp = false : this.exp = true; 

                        }
                                               

                    }                    

                    e.preventDefault();

                   
                },
                cancelForm(){
                    this.name = '';
                    this.username = '';
                    this.email = '';
                    this.password = '';
                    this.phone = '';
                    this.website = '';

                    this.exp ? this.exp = false : this.exp = true;
                },
                removeUser(u){
                    this.pos = this.users.findIndex(element => element.id === u.id);
                    this.users.splice(this.pos, 1);
                }
                    
            },
            mounted(){
                var user = localStorage.getItem('user');
                user = JSON.parse(user);
                
                this.user = user.name;

                fetch('users.json')
                .then((res) => res.json())
                .then((json) => (this.users = json))
                .catch((err) => (alert('no data')))

            }

        }).mount('#contenedor')

   </script>

    

</body>
</html>