<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <title>VUE JS</title>
</head>
<body>

    <div id="container">

        <nav class="navbar navbar-dark bg-dark">
            <h1 class="text-white ps-5">Details</h1>
        </nav>


        <div v-if= "movie != null">

            <div class="row featurette mt-5">

                <!-- <img v-bind:src="`https://image.tmdb.org/t/p/w500/${movie.backdrop_path}`" alt="" class=""> -->
                <div class="img-fluid col-md-5  order-md-1">
                    <img v-bind:src="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`" alt="" class="rounded mx-auto d-block">
                </div>
    
                <div class="col-md-4 order-md-2">
                    <h2><strong>{{movie.original_title}}</strong></h2>
                    <p>{{movie.release_date}}</p>
    
                    <p><strong>Original language: </strong>{{movie.original_language}}</p>
                    <p><strong>Time: </strong>{{movie.runtime}} m</p>
    
                    <p><strong>Genres: </strong></p>
                    <ul v-for="g in movie.genres">
                        <li>{{g.name}}</li>
                    </ul>
                    
                    <p><em>{{movie.tagline}}</em></p>
                    
                    <p><strong>Overview</strong></p>
                    <p>{{movie.overview}}</p>
    
    
                    <div class="mt-5">
                        <form action="">
                            <label for="" class="form-label fw-bold">Rating</label>
                            <br>
                            <input type="range"  clase="form-range" v-model="movieRating" min="0.5" max="10" step="0.5">
                            <br>
                            <button @click="save" class="btn btn-success btn-sm me-2">
                                Save
                            </button>
                            <button @click="remove" class="btn btn-danger btn-sm me-2">
                                Remove
                            </button>
                            
                        </form>
                    </div>
    
    
                </div>
                
            </div>

        </div>
        
        
    </div>





    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>




   <script>

        const { createApp } = Vue


        const app = createApp({
            data(){
                return{
                    movie: null,
                    movie_id: 0,
                    movieRating: null
                }
            },
            methods:{
                getLinkName(t){ 
					return t.replaceAll(' ', '-')
				},
                getDetails(){
                    
                    const c = this;

                    // var axios = require('axios');
                    // var FormData = require('form-data');
                    var data = new FormData();

                    var config = {
                    method: 'get',
                    url: 'https://api.themoviedb.org/3/movie/' + this.movie_id,
                    headers: { 
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ZDU1YWRlYTFjN2MxYTljNDM4NjNlOTZmNzg3MzU1ZiIsInN1YiI6IjYzMWJkYTc1NjdkY2M5MDA3YWZhNTQ3OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GUPnnoSwSWfQ1ZgMpf84XzOiJG47gQaN-0oUVEopB5M', 
                        // ...data.getHeaders()
                    },
                        data : data
                    };

                    axios(config)
                    .then(function (response) {
                        // console.log(JSON.stringify(response.data));
                        c.movie = response.data;
                        console.log(c.movie);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });




                },save(e){
                    console.log(this.movieRating);

                    if(this.movieRating != null){
                        // var axios = require('axios');
                        var data = JSON.stringify({
                            "value": this.movieRating
                        });

                        var config = {
                        method: 'post',
                        url: 'https://api.themoviedb.org/3/movie/' + this.movie_id + '/rating',
                        headers: { 
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ZDU1YWRlYTFjN2MxYTljNDM4NjNlOTZmNzg3MzU1ZiIsInN1YiI6IjYzMWJkYTc1NjdkY2M5MDA3YWZhNTQ3OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GUPnnoSwSWfQ1ZgMpf84XzOiJG47gQaN-0oUVEopB5M', 
                            'Content-Type': 'application/json'
                        },
                            data : data
                        };

                        axios(config)
                        .then(function (response) {
                            if(response.data.success){
                                alert("Success, your rating has been saved");
                                console.log(JSON.stringify(response.data));
                            }
                                
                        })
                        .catch(function (error) {
                            console.log(error);
                        });


                    }else{
                        alert("Empty fields");
                    }

                    
                    e.preventDefault();
                    
                }, remove(e){

                    // var axios = require('axios');

                    var config = {
                    method: 'delete',
                    url: 'https://api.themoviedb.org/3/movie/' + this.movie_id + '/rating',
                    headers: { 
                        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ZDU1YWRlYTFjN2MxYTljNDM4NjNlOTZmNzg3MzU1ZiIsInN1YiI6IjYzMWJkYTc1NjdkY2M5MDA3YWZhNTQ3OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GUPnnoSwSWfQ1ZgMpf84XzOiJG47gQaN-0oUVEopB5M'
                    }
                    };

                    axios(config)
                    .then(function (response) {
                        if(response.data.success){
                            alert("Success, your rating has been delete");
                            console.log(JSON.stringify(response.data));
                        }
                        
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                    e.preventDefault();
                    
                }
                
                    
            },
            mounted(){

                // var movie_id = localStorage.getItem('movie_id');
                // movie_id = JSON.parse(movie_id);
                
                // this.movie_id = movie_id;

                console.log(window.location.href)
                
                const linkArray = window.location.href.split("/");
                let word = linkArray[linkArray.length-1];
                console.log(word)

                var ret = word.replace('details.html?movie=','');
                console.log(ret)

                const linkArray2 = ret.split("-");
                
                let id = linkArray2[0];
                console.log(id)

                this.movie_id = id;


                this.getDetails();
                
            }

        }).mount('#container')

   </script>

    

</body>
</html>

